html {
	height: 100%;
}

body {
	background-color: #FFF;
	height: 100%;
}

.container {
	background-color: #FFFFFF;
	min-height: 100%;
	width: 952px;
}
#header .container {
	border: none;
	border-bottom: 2px solid #DADADA;
	
}
#header {
	border-top: 4px solid #e71818;
	margin-bottom: 10px;
	width: 100%;
}
#header h1 {
	display: none;	
}
#header div.span-7 {
	margin-top: 35px;
}
ul#menu {
	margin: 10px 0px 0px 10px;
	padding: 0px;
}
ul#menu li {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

ul#menu ul {
	padding: 2px 0px 0px 15px;
}
#footer {
	color: #999;
	text-align: center;
	margin-top: 20px;
}
/* Reset Blueprint's consecutive paragraph indent since we aren't doing blocks of text */
p + p {
	text-indent: 0px;
}

form p {
	margin-bottom: 0px;
}
form p + p {
	margin-top: 0px;
}

.red {
	color: #F00;
}
.red input {
	border-color: #F00;
}
.right {
	text-align: right;
}

/* Awesome CSS3 Buttons, taken from http://www.zurb.com/blog_uploads/0000/0617/buttons-03.html */
.awesome, .awesome:visited, input[type=submit] {
	border: 0px;
	background: #222 url(/images/alert-overlay.png) repeat-x; 
	display: inline-block; 
	padding: 5px 10px 6px; 
	color: #fff; 
	text-decoration: none;
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	border-bottom: 1px solid rgba(0,0,0,0.25);
	position: relative;
	cursor: pointer;
}
 
.awesome:hover, input[type=submit]:hover 		{ background-color: #111; color: #fff; }
.awesome:active, input[type=submit]:active		{ top: 1px; }
.small.awesome, .small.awesome:visited,
input[type=submit].small					   	{ font-size: 11px; padding: ; margin-bottom: 0px; }
.awesome, .awesome:visited,
.medium.awesome, .medium.awesome:visited,
input[type=submit], input[type=submit].medium	{ font-size: 13px; font-weight: bold; line-height: 1; text-shadow: 0 -1px 1px rgba(0,0,0,0.25); }
.large.awesome, .large.awesome:visited,
input[type=submit].large			 			{ font-size: 14px; padding: 8px 14px 9px; }

.green.awesome, .green.awesome:visited, input[type=submit].green,
.show.awesome, 	.show.awesome:visited									{ background-color: #91bd09; }
.green.awesome:hover, input[type=submit].green:hover,
.show.awesome:hover														{ background-color: #749a02; }

.go.awesome, .go.awesome:visited, input[type=submit].go					{ background-color: #149632; }
.go.awesome:hover, input[type=submit].go:hover							{ background-color: #02731C; }

.blue.awesome, .blue.awesome:visited, input[type=submit].blue,
.edit.awesome, .edit.awesome:visited									{ background-color: #2daebf; }
.blue.awesome:hover, input[type=submit].blue:hover,
.edit.awesome:hover														{ background-color: #007d9a; }

.red.awesome, .red.awesome:visited, input[type=submit].red,
.destroy.awesome, .destroy.awesome:visited								{ background-color: #e33100; }
.red.awesome:hover, input[type=submit].red:hover,						
.destroy.awesome:hover													{ background-color: #872300; }

.darkred.awesome, .darkred.awesome:visited, input[type=submit].darkred	{ background-color: #CC0202; }
.darkred.awesome:hover, input[type=submit].darkred:hover				{ background-color: #8C0A0A; }
.magenta.awesome, .magenta.awesome:visited, input[type=submit].magenta	{ background-color: #a9014b; }
.magenta.awesome:hover, input[type=submit].magenta:hover				{ background-color: #630030; }
.orange.awesome, .orange.awesome:visited, input[type=submit].orange		{ background-color: #ff5c00; }
.orange.awesome:hover, input[type=submit].orange:hover					{ background-color: #d45500; }
.yellow.awesome, .yellow.awesome:visited, input[type=submit].yellow		{ background-color: #ffb515; }
.yellow.awesome:hover, input[type=submit].yellow:hover					{ background-color: #fc9200; }
