html {
	height: 100%;
}

body {
	background-color: #EEE;
	height: 100%;
}

.container {
	background-color: #FFFFFF;
	height: 100%;
	min-height: 100%;
}

#header {
	background-color: #FF7E00;
	-moz-border-radius-bottomleft: 15px;
	-webkit-border-bottom-left-radius: 15px;
	-moz-border-radius-bottomright: 15px;
	-webkit-border-bottom-right-radius: 15px;
	color: #fff; 	
}
#header h1{
	color: #fff;
}
#header a {
	color: #ccc;
}
ul#menu {
	margin: 10px 0px 0px 10px;
	padding: 0px;
}
ul#menu li {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

ul#menu ul {
	padding: 2px 0px 0px 15px;
}
/* Reset Blueprint's consecutive paragraph indent since we aren't doing blocks of text */
p + p {
	text-indent: 0px;
}

form p {
	margin-bottom: 0px;
}
form p + p {
	margin-top: 0px;
}

.red {
	color: #F00;
}
.red input {
	border-color: #F00;
}
.right {
	text-align: right;
}